/* ====== Music player ======*/
.music {
    display: none;
    width: 25%;
    height: auto;
    transform: translateX(-40%);
    margin-top: 20px;
    position: absolute;
    border-radius: 8px;
    z-index: 1;
    padding-bottom: 20px;
    background-color: #000;
}

.music .fa-times {
    margin: 15px 20px;
    color: #fff;
}

.wrapper {
    padding: 20px 40px;
}

.musicControlPanel {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    font-size: 25px;
    background-color: transparent;
    margin: 30px 10px;
}

.musicControlPanel i {
    color: #fff;
}

.details {
    display: flex;
    flex-flow: column;
    text-align: center;
    align-items: center;
}

.trackProfile {
    margin: 15px;
    height: 250px;
    width: 250px;
    border: 2px solid #fff;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    box-shadow: 0px 6px 5px #ccc;
    box-shadow: 0px;
}

.trackName {
    font-size: 20px;
}

.sliderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.trackSlider {
    appearance: none;
    height: 5px;
    background: #6E703D;
    transition: opacity .2s;
    width: 70%;
    border-radius: 100px;
}

.trackSlider::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    background: #fff;
    border: 3px solid #6E703D;
    cursor: move;
    border-radius: 100%;
}

.currentTime,
.totalDuration {
    padding: 15px
}

.rotate {
    animation: rotation 8s infinite linear;
}

iframe {
    border-radius: 0px;
    width: 100%;
    height: 360;
}

@keyframes rotation {
    from {
        transition: rotate(0deg);
    }

    to {
        transition: 359deg;
    }
}

@media (max-width: 700px) {
    .music {
        width: 300px;
        height: 450px;
        transform: translate(-170px, -40px);
    }
}