@font-face {
    font-family: 'poppins';
    src: url('../../font/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'arvo';
    src: url('../../font/arvo/Arvo-Bold.ttf');
}

* {
    margin: 0;
    background-color: #FFFCF9;
    font-family: poppins;
}

body {
    margin-bottom: 100px;
}

button:hover {
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.281);
    transform: translateY(-1px);
}

h2,
h3 {
    background-color: transparent;
    margin: 10px 0px;
}

/* ====== nav bar css ====== */
header {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

a {
    text-decoration: none;
    color: #27271E;
}

header {
    background: #f1efde;
}

header * {
    background-color: transparent;
}

.logolink {
    position: relative;
    display: block;
}

.logo {
    cursor: pointer;
    width: 130px;
    font-family: arvo;
    color: #6E703D;
}

.navlinks {
    font: inherit;
    font-family: poppins;
    list-style: none;
    font-size: 15px;
    padding: 0px 10px;
}

.navlinks li {
    display: inline-block;
    padding: 0px 30px;
    cursor: pointer;
}

.navlinks a {
    text-decoration: none;
    color: #27271E;
    cursor: pointer;
}

/* ====== hover effect for the nav links ====== */
.navlinks li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #6E703D;
    display: block;
    margin: auto;
    transition: 0.2s;
}

.navlinks li:hover::after {
    width: 100%;
}

.fa-bars {
    font-size: 30px;
    color: #27271E;
    display: none;
}

#nav-times {
    display: none;
}

// Responsive nav bar
@media (max-width: 700px) {
    header {
        background: transparent;
    }

    .navlinks li {
        display: block;
        padding-bottom: 20px;
        color: #FFFCF9;
    }

    .navlinks li a {
        color: #FFFCF9;
    }

    .navlinks {
        position: fixed;
        text-align: left;
        padding: 80px 30px;
        font-size: 20px;
        height: 100%;
        width: 300px;
        background: #6E703D;
        transform: translate(-265px, -70px);
        z-index: 2;
        display: none;
    }

    .navlinks li::after {
        background: #EEEEE7;
    }

    .navlinks li:hover::after {
        width: 100%;
    }

    body {
        margin-bottom: 0px;
    }

    #nav-times {
        font-size: 35px;
        padding-right: 20px;
        color: #FFFCF9;
        position: relative;
        display: block;
    }

    .fa-bars {
        display: block;
    }

    .fa-bars:hover {
        color: #6E703D;
    }
}