.resource-container {
    margin: 25px 10%;
}

.titleBarRe {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.resource-container h1 {
    margin: 10px 25px;
    display: block;
    color: #27271E;
}

.fa-save {
    font-size: 25px;
    color: #646464;
}

.fa-save:hover {
    color: #27271E;
    cursor: pointer;
}

.sub-headings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 40%;
    margin: 20px 3%;
}

.resource-list-row {
    display: flex;
    flex-flow: row;
    width: 100%;
    margin: 15px 20px;
    padding-top: 20px;
    border-top: 2px solid #27271E;
}

.resource-content {
    width: 280px;
    height: 260px;
    border-radius: 10px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px);
}

.resource-content img {
    width: 100%;
    height: 50%;
    border-radius: 10px;
    object-fit: cover;
}

.resource-content h2,
.resource-content p {
    margin: 5px 10px;
}

.resource-content h2 {
    font-size: 17px;
    border-top: 1px solid#27271E;
}

.resource-content p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 13px;
}

.summary {
    padding-left: 6%;
}

#summaryField ::placeholder {
    color: #646464;
}

#summaryField {
    width: 300%;
    height: auto;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    padding: 10px 20px;
    font-size: 20px;
    box-sizing: border-box;
}

.generate-pop-up {
    margin-left: 20px;
    border-top: 2px solid #27271E;
}

#urlBox {
    width: 230px;
    height: 40px;
    border-radius: 8px;
    text-align: left;
    font-size: 13px;
    margin-top: 20px;
    border: 1px solid #27271E;
    padding: 0px 3px;
}

#urlBox::placeholder {
    color: #646464;
    text-align: center;
}

#urlBox:focus::-webkit-input-placeholder {
    opacity: 0;
}

#urlBox:hover {
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.281);
    transform: translateY(-1px);
}

#linkBtn {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    border: 1px solid #27271E;
}