/* ====== Template for project sheet ======*/
.stages {
    white-space: nowrap;
    position: relative;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}

.projectTemplate {
    margin: 30px 10%;
}

.projectTitle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

#projTitle {
    border: none;
    width: auto;
    font-size: 30px;
}

::placeholder {
    color: #565652;
}

.stageInput {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 15px 0;
}

#markDoneBtn {
    font-size: 20px;
    padding: 2px 20px;
    border-radius: 100px;
    background-color: #B3A496;
    color: #FFFCF9;
    border: none;
}

#markDoneBtn:hover {
    cursor: pointer;
}

.infoBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.fa-info-circle {
    font-size: 25px;
    color: #504f4f;
}

.fa-info-circle:hover {
    cursor: pointer;
}

#guide {
    z-index: 1;
    position: absolute;
    width: 300px;
    font-size: 14px;
    height: auto;
    transform: translateX(-300px);
    border-radius: 6px;
    border: 1px solid #27271E;
    padding: 10px;
    margin-top: 5px;
    line-height: 22px;
    display: none;
}

.projectBody textarea {
    border-radius: 8px;
    width: 98%;
    height: 50px;
    resize: none;
    padding: 12px 12px;
    border: 0.5px solid #9F9F9F;
}

textarea:focus {
    border-color: #6E703D;
}

.titleBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

#stageCheck {
    width: 30px;
    height: 30px;
    border: 1px solid #9F9F9F;
    border-radius: 100%;
    appearance: none;
    color: #27271E;
}

#stageTitle {
    font-size: 20px;
    border: none;
    width: 140px;
    border-left: 5px solid #B3A496;
    padding-left: 10px;
}

.statusBar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.statusBar>* {
    width: 32.2%;
    border: 1px solid #9F9F9F;
    position: relative;
    padding: 5px;
    border-radius: 6px;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#statusCircleRed {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #CC6565;
}

#statusCircleYel {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #D4B956;
}

#statusCircleGrn {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #1B9D18;
}

textarea {
    background-color: #FFF;
}

.stageContent {
    border-bottom: 1px solid #27271E;
    padding-bottom: 10px;
}

.stage textarea {
    border-radius: 8px;
    width: 98%;
    height: 20px;
    resize: none;
    padding: 12px 12px;
    border: 0.5px solid #9F9F9F;
}

.innerStageBoxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.innerStageBox {
    height: 100%;
    min-height: 160px;
    width: 32.1%;
    border: 1px solid #9F9F9F;
    position: relative;
    height: auto;
    padding: 5px;
    border-radius: 6px;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.newTaskBtn {
    border-radius: 4px;
    border: 0.5px solid #525252;
    vertical-align: bottom;
    font-size: 15px;
    margin: 10px 0;
    padding: 3px 15px;
    color: #504f4f;
}

.task {
    width: 100%;
    height: 150px;
    padding-bottom: 15px;
    border-radius: 8px;
    background-color: #FFF;
    border: 1px solid #9F9F9F;
    margin: 10px 20px;
}

.task h4 {
    background-color: transparent;
    margin-left: 10px;
    font-size: 18px;
    margin-top: 15px;
}

.task p {
    font-size: 15px;
    background-color: transparent;
    margin-left: 10px;
    margin-top: 13px;
}

.fa-ellipsis-h {
    display: blocks;
    text-align: right;
    margin: 10px 12px 0px 12px;
    background-color: transparent;
}

.bottomContent {
    background-color: transparent;
}

#tagBtn {
    font-size: 13px;
    padding: 2px 15px;
    border-radius: 100px;
    background-color: #6E703D;
    color: #FFFCF9;
    border: none;
    margin: 10px;
}

#keywordBtn {
    font-size: 13px;
    padding: 2px 15px;
    border-radius: 100px;
    background-color: #627a88;
    color: #FFFCF9;
    border: none;
    margin: 10px;
}

#newStageBtn {
    width: 33%;
    margin: 20px 0;
    padding: 5px 15px;
    border: 1px solid #9F9F9F;
    font-size: 15px;
    border-radius: 5px;
    color: #504f4f;
}


/* ======= Styles for task creation form ======= */
.newTaskFormPopUp {
    display: none;
    position: fixed;
    width: 30%;
    height: 70%;
    top: 70px;
    left: 30%;
    border: 1px solid #27271E;
    border-radius: 10px;
    padding: 20px 50px;
}

#newTaskForm ul li {
    list-style: none;
    padding: 10px 0px;
}

#newTaskForm input,
select {
    display: block;
    border: 1px solid #27271E;
    width: 80%;
    height: 30px;
    border-radius: 5px;
}

#taskDoneBtn {
    margin: 10px 40px;
    padding: 5px 20px;
    border: none;
    background-color: #6E703D;
    color: #FFF;
    border-radius: 100px;
}

.expand {
    background-color: none;
}

.fa-caret-up,
.fa-caret-down {
    font-size: 25px;
}

.projectBody h2,
.projectRoadmap h2,
.inspo-quote-block h2 {
    padding-left: 20px;
    border-left: 8px solid #6E703D;
    transform: translateX(-25px);
}

.inspo-quote-block p {
    padding-left: 2px;
}

#author {
    font-size: 14px;
    color: #9F9F9F;
}

@media (max-width: 1400px) {
    .statusBar>* {
        width: 31%;
        font-size: 17px;
    }

    .innerStageBox {
        width: 31%;
        font-size: 20px;
    }

    .task {
        width: 100%;
        height: auto;
        padding-bottom: 10px;
    }
}

@media (max-width: 700px) {
    .statusBar>* {
        width: 30%;
        font-size: 13px;
    }

    .innerStageBox {
        width: 30%;
        font-size: 20px;
    }

    .task {
        font-size: 10px;
        margin: 5px;
    }

    .newTaskFormPopUp {
        width: 50%;
        height: auto;
        transform: translateX(-50px);
    }
}