/* ====== Pomodoro timer pop up window ====== */
.timer {
    display: none;
    width: 25%;
    height: 50%;
    transform: translateX(-80%);
    margin-top: 20px;
    padding-bottom: 25px;
    position: absolute;
    background-color: #FFFCF9;
    border: 2px solid #27271E;
    border-radius: 8px;
    z-index: 1;
}

.timer .fa-times {
    margin: 10px 20px;
}

.timer form {
    visibility: visible;
    background-color: transparent;
}

.timeInput {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    height: 100px;
    margin: 0px 20%;
}

.timeInput input {
    margin-bottom: 20px;
    background-color: transparent;
    width: 100px;
    border: none;
    height: 80px;
    text-align: center;
    font-size: 65px;
}

.mintxt {
    font-size: 20px;
}

.pomoInput input,
.breakInput input {
    display: block;
    border: 1px solid #27271E;
    border-radius: 6px;
    font-size: 20px;
    width: 100px;
    height: 25px;
    padding: 8px 14px;
    text-align: center;
    background-color: #FFF;
}

.pomoInput,
.breakInput {
    display: block;
    margin: 0px 20% 20px 20%;
    position: relative;
    font-size: 20px;
}

#timeInput span {
    font-size: 60px;
    background-color: transparent;
}

#timeInput {
    position: relative;
    background-color: transparent;
    margin-left: 10%;
}

#timer form>* {
    background-color: transparent;
}

#timer label {
    background-color: transparent;
}

.controlTimer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 30px 20%;
}

.controlTimer button {
    font-size: 20px;
}

#startTimer {
    border: none;
    background-color: #6E703D;
    color: #FFFCF9;
    border-radius: 100px;
    padding: 3px 20px;
}

#resetTimer {
    border: none;
    background-color: transparent;
    color: #6E703D;
}

#resetTimer:hover {
    box-shadow: none;
    transform: none;
    color: #27271E;
}

#countDisplay {
    display: block;
    font-size: 60px;
    margin: 0px 25%;
}

@media (max-width: 700px) {
    .timer {
        width: 280px;
        height: 450px;
        transform: translateX(1px);
    }

}