@font-face {
    font-family: 'poppins';
    src: url('../font/poppins/Poppins-Regular.ttf');
}

* {
    background-color: #FFFCF9;
}

/* nav bar css */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    margin-right: auto;
    cursor: pointer;
    width: 130px;
}

.navlinks {
    font: inherit;
    font-family: poppins;
    list-style: none;
    font-size: 15px;
    padding: 0px 10px;
}

.navlinks li {
    display: inline-block;
    padding: 0px 30px;
}

.navlinks li a {
    text-decoration: none;
    color: #27271E;
}

/* hover effect for the nav links */
.navlinks li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #6E703D;
    display: block;
    margin: auto;
    transition: 0.2s;
}

.navlinks li:hover::after {
    width: 100%;
}

/* grid the container for project display  */
.container {
    padding: 70px 120px;
    margin-right: auto;
}

.container #add-project {
    width: 200px;
    height: 290px;
}

.container #add-project {
    cursor: pointer;
    border-color: #27271E;
    border-radius: 8px;
    font-size: 80px;
    color: #6E703D;
}

.container #add-project:hover {
    box-shadow: 6px 6px rgb(183, 184, 147, 0.3);
    border-width: 3px;
    transition: 0.1s ease-in-out;
}

.container p {
    font-family: poppins;
    color: #9F9F9F;
}

/* Create new project pop up window asking for basic information input */
.newProjectPopUp {
    border-style: solid;
    border-radius: 4px;
    border-color: #9F9F9F;
    border-width: 2px;
    background-color: #FFF;
    width: 50%;
    height: 60%;
    padding: 30px 40px;
    position: absolute;
    font-family: poppins;
    transform: translate(-50%, -30%);
    left: 50%;
    top: 30%;
    /* display: none; */
}

.newProjectPopUp #cancel {
    font-size: 20px;
    padding: 10px 30px;
    border: 2px solid #6E703D;
    border-radius: 100px;
}

.newProjectPopUp #done {
    font-size: 20px;
    padding: 10px 30px;
    color: #FFFCF9;
    background-color: #6E703D;
    border: 2px solid #6E703D;
    border-radius: 100px;
}

.newProjectPopUp #done:hover {
    padding: 12px 32px;
    transition: 0.2s ease-in;
}

.newProjectPopUp #cancel:hover {
    padding: 12px 32px;
    transition: 0.2s ease-in;
}

.fa-times {
    display: block;
    margin: 0 0 20px auto;
    background-color: transparent;
    font-size: 25px;
    color: #6E703D;
    text-align: right;
}