@font-face {
    font-family: 'poppins';
    src: url('../font/poppins/Poppins-Regular.ttf');
}

* {
    background-color: #FFFCF9;
}

/* nav bar css */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    margin-right: auto;
    cursor: pointer;
    width: 130px;
}

.navlinks {
    font: inherit;
    font-family: poppins;
    list-style: none;
    font-size: 15px;
    padding: 0px 10px;
}

.navlinks li {
    display: inline-block;
    padding: 0px 30px;
}

.navlinks li a {
    text-decoration: none;
    color: #27271E;
}

/* hover effect for the nav links */
.navlinks li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #6E703D;
    display: block;
    margin: auto;
    transition: 0.2s;
}

.navlinks li:hover::after {
    width: 100%;
}

/* grid the container for project display  */
.container {
    padding: 70px 120px;
    margin-right: auto;
}

.container #addProject {
    width: 200px;
    height: 290px;
}

.container #addProject {
    cursor: pointer;
    border-color: #27271E;
    border-radius: 8px;
    font-size: 80px;
    color: #6E703D;
}

.container #addProject:hover {
    box-shadow: 6px 6px rgb(183, 184, 147, 0.3);
    border-width: 3px;
    transition: 0.1s ease-in-out;
}

.container p {
    font-family: poppins;
    color: #9F9F9F;
}

/* Create new project pop up window asking for basic information input */
.newProjectPopUp {
    /* display: none; */
    border-style: solid;
    border-radius: 4px;
    border-color: #9F9F9F;
    border-width: 2px;
    background-color: #FFF;
    width: 30%;
    height: 65%;
    padding: 30px 40px;
    position: absolute;
    font-family: poppins;
    transform: translate(-50%, -20%);
    left: 50%;
    top: 30%;
}

.newProjectPopUp #cancel {
    font-size: 20px;
    padding: 7px 30px;
    border: 2px solid #6E703D;
    border-radius: 100px;
    position: absolute;
}

#cancel:hover {
    box-shadow: 4px 4px rgb(183, 184, 147, 0.3);
    border-width: 3px;
    transition: 0.1s ease-in-out;
}

.newProjectPopUp #done {
    font-size: 20px;
    padding: 7px 30px;
    margin-left: 300px;
    position: absolute;
    color: #FFFCF9;
    background-color: #6E703D;
    border: 2px solid #6E703D;
    border-radius: 100px;
}

#done:hover {
    border: 2px solid #52541e;
    box-shadow: 4px 4px rgba(175, 177, 117, 0.3);
    border-width: 3px;
    transition: 0.1s ease-in-out;
}

.newProjectPopUp button {
    margin-top: 40px;
}

.newProjectPopUp h1 {
    background-color: transparent;
}

/* Create new project by entering properties form */
#newProjectForm {
    background-color: transparent;
}

#newProjectForm label {
    background-color: transparent;
    display: block;
}

#newProjectForm ul {
    background-color: transparent;
    font-size: 20px;
    padding: 0;
}

#newProjectForm ul li {
    list-style: none;
    background-color: transparent;
}

#newProjectForm li+li {
    margin-top: 20px;
}

#newProjectForm input {
    width: 85%;
    background-color: transparent;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 8px;
    border: 2px solid #27271E;
}

#newProjectForm select {
    width: 50%;
    background-color: transparent;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 8px;
    border: 2px solid #27271E;
}

.fa-times {
    display: block;
    margin: 0 0 20px auto;
    background-color: transparent;
    font-size: 25px;
    color: #6E703D;
    text-align: right;
}

/* Music player pop up window */
.music {
    /* display: none; */
    width: 40%;
    height: 30%;
    top: 12%;
    right: 22.5%;
    position: absolute;
    background-color: #FFF;
    border: 2px solid #27271E;
    border-radius: 8px;
}

/* .fa-times {
    transform: translate(-100px, -400px);
} */

/* Pomodoro Timer */