@font-face {
    font-family: 'poppins';
    src: url('../font/poppins/Poppins-Regular.ttf');
}

* {
    margin: 0;
    background-color: #FFFCF9;
    font-family: poppins;
}

button:hover {
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.281);
    transform: translateY(-1px);
}

h2,
h3 {
    background-color: transparent;
    margin: 10px 0px;
}

/* ====== nav bar css ====== */
header {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    /* background-color: #cecfa9; */
}

a {
    text-decoration: none;
    color: #27271E;
}

/* header * {
    background-color: #cecfa9;
} */

.logolink {
    position: relative;
    display: block;
}

.logo {
    cursor: pointer;
    width: 130px;
}

.navlinks {
    font: inherit;
    font-family: poppins;
    list-style: none;
    font-size: 15px;
    padding: 0px 10px;
}

.navlinks li {
    display: inline-block;
    padding: 0px 30px;
    cursor: pointer;
}

.navlinks a {
    text-decoration: none;
    color: #27271E;
    cursor: pointer;
}

/* ====== hover effect for the nav links ====== */
.navlinks li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #6E703D;
    display: block;
    margin: auto;
    transition: 0.2s;
}

.navlinks li:hover::after {
    width: 100%;
}

/* ====== Styles for the add new project button ====== */
.projectList {
    margin: 30px 10%;
    display: flex;
    flex-flow: row wrap;
}

#addProject {
    transform: translateY(23%);
    background: transparent;
    font-size: 100px;
    border: none;
    color: #6E703D;
}

.projectCol {
    text-align: center;
    width: 180px;
    height: 240px;
    cursor: pointer;
    border: 2px solid #27271E;
    border-radius: 8px;
    margin: 30px 30px;
    padding-top: 20px;
}

.projectCol:hover {
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.281);
    transform: translateY(-1px);
}

.projectColInner {
    width: 80px;
    height: 100px;
    background-color: bisque;
}

.projectCol p {
    vertical-align: bottom;
    text-align: left;
    font-size: 13px;
    padding: 0px 5px;
}

/* ====== Create new project pop up window asking for basic information input ====== */
.newProjectPopUp {
    display: none;
    border-style: solid;
    border-radius: 8px;
    border-color: #27271E;
    border-width: 2px;
    background-color: #FFF;
    width: 30%;
    height: 65%;
    padding: 30px 40px;
    position: absolute;
    font-family: poppins;
    transform: translate(-50%, -20%);
    left: 50%;
    top: 30%;
}

.newProjectPopUp #done {
    font-size: 20px;
    padding: 7px 30px;
    position: absolute;
    color: #FFFCF9;
    background-color: #6E703D;
    border: 2px solid #6E703D;
    border-radius: 100px;
}

.newProjectPopUp button {
    margin-top: 40px;
}

.newProjectPopUp h1 {
    background-color: transparent;
}

/* Create new project by entering properties form */
#newProjectForm {
    background-color: transparent;
}

#newProjectForm label {
    background-color: transparent;
    display: block;
}

#newProjectForm ul {
    background-color: transparent;
    font-size: 20px;
    padding: 0;
}

#newProjectForm ul li {
    list-style: none;
    background-color: transparent;
}

#newProjectForm li+li {
    margin-top: 20px;
}

#newProjectForm input {
    width: 85%;
    background-color: transparent;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 8px;
    border: 2px solid #27271E;
}

#newProjectForm select {
    width: 50%;
    height: auto;
    background-color: transparent;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 8px;
    border: 2px solid #27271E;
}

.fa-times {
    display: block;
    margin: 0 0 20px auto;
    background-color: transparent;
    font-size: 25px;
    color: #6E703D;
    text-align: right;
}

/* ====== Pomodoro timer pop up window ====== */
.timer {
    /* display: none; */
    width: 30%;
    height: auto;
    transform: translateX(-80%);
    margin-top: 20px;
    position: absolute;
    background-color: #FFFCF9;
    border: 2px solid #27271E;
    border-radius: 8px;
    z-index: 1;
}

.timer .fa-times {
    margin: 10px 20px;
}

.timer form {
    background-color: transparent;
}

.timeInput {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 20%;
}

.timeInput input {
    margin-bottom: 20px;
    background-color: transparent;
    width: 100px;
    font-size: 65px;
    border: none;
    height: auto;
    text-align: center;
}

.timeInput span {
    background-color: transparent;
    font-size: 50px;
}

.pomoInput input,
.breakInput input {
    display: block;
    border: 1px solid #27271E;
    border-radius: 6px;
    font-size: 20px;
    width: 150px;
    height: 25px;
    padding: 8px 14px;
    text-align: center;
    background-color: #FFF;
}

.pomoInput,
.breakInput {
    display: block;
    margin: 0px 20% 20px 20%;
    position: relative;
    font-size: 20px;
}

#timeInput span {
    font-size: 60px;
    background-color: transparent;
}

#timeInput {
    position: relative;
    background-color: transparent;
    margin-left: 10%;
}

#timer form>* {
    background-color: transparent;
}

#timer label {
    background-color: transparent;
}

.controlTimer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 30px 20%;
}

.controlTimer button {
    font-size: 20px;
}

#startTimer {
    border: none;
    background-color: #6E703D;
    color: #FFFCF9;
    border-radius: 100px;
    padding: 3px 20px;
}

#resetTimer {
    border: none;
    background-color: transparent;
    color: #6E703D;
}

#resetTimer:hover {
    box-shadow: none;
    transform: none;
    color: #27271E;
}

#countDisplay {
    display: block;
    font-size: 80px;
    margin: 0px 25%;
}

/* ====== Music player ======*/
.music {
    display: none;
    width: 30%;
    height: auto;
    transform: translateX(-40%);
    margin-top: 20px;
    position: absolute;
    border: 2px solid #27271E;
    border-radius: 8px;
    z-index: 1;
    padding-bottom: 20px;
}

.music .fa-times {
    margin: 15px 20px;
}

.wrapper {
    padding: 20px 40px;
}

.musicControlPanel {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
    font-size: 25px;
    background-color: transparent;
    margin: 30px 10px;
}

.musicControlPanel i {
    color: #27271E;
}

.details {
    display: flex;
    flex-flow: column;
    text-align: center;
    align-items: center;
}

.trackProfile {
    margin: 15px;
    height: 250px;
    width: 250px;
    border: 2px solid #fff;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    box-shadow: 0px 6px 5px #ccc;
    box-shadow: 0px;
}

.trackName {
    font-size: 20px;
}

.sliderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.trackSlider {
    appearance: none;
    height: 5px;
    background: #6E703D;
    transition: opacity .2s;
    width: 70%;
    border-radius: 100px;
}

.trackSlider::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    background: #fff;
    border: 3px solid #6E703D;
    cursor: move;
    border-radius: 100%;
}

.currentTime,
.totalDuration {
    padding: 15px
}

.rotate {
    animation: rotation 8s infinite linear;
}

@keyframes rotation {
    from {
        transition: rotate(0deg);
    }

    to {
        transition: 359deg;
    }
}

/* ====== Template for project sheet ======*/
.projectTemplate {
    margin: 30px 10%;
}

.projectTitle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 40px;
}

#projTitle {
    border: none;
    font-size: 30px;
}

::placeholder {
    color: #565652;
}

.stageInput {
    margin: 15px 0;
}

#markDoneBtn {
    font-size: 20px;
    padding: 2px 20px;
    border-radius: 100px;
    background-color: #B3A496;
    color: #FFFCF9;
    border: none;
}

.projectBody textarea {
    border-radius: 8px;
    width: 98%;
    height: 50px;
    resize: none;
    padding: 12px 12px;
    border: 0.5px solid #9F9F9F;
}

textarea:focus {
    border-color: #6E703D;
}

.titleBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#stageTitle {
    font-size: 20px;
    border: none;
}

.statusBar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.statusBar>* {
    width: 32.2%;
    border: 1px solid #9F9F9F;
    position: relative;
    padding: 5px;
    border-radius: 6px;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#statusCircleRed {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #CC6565;
}

#statusCircleYel {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #D4B956;
}

#statusCircleGrn {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #1B9D18;
}

textarea {
    background-color: #FFF;
}

.stageContent {
    border-bottom: 1px solid #27271E;
    padding-bottom: 10px;
}

.stage textarea {
    border-radius: 8px;
    width: 98%;
    height: 20px;
    resize: none;
    padding: 12px 12px;
    border: 0.5px solid #9F9F9F;
}

.innerStageBoxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.innerStageBox {
    height: 100%;
    min-height: 150px;
    width: 32.1%;
    border: 1px solid #9F9F9F;
    position: relative;
    height: auto;
    padding: 5px;
    border-radius: 6px;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.newTaskBtn {
    border-radius: 4px;
    border: 0.5px solid #525252;
    vertical-align: bottom;
    font-size: 15px;
    margin: 10px 0;
    padding: 3px 15px;
    color: #504f4f;
}

.task {
    width: 100%;
    height: 130px;
    padding-bottom: 15px;
    border-radius: 8px;
    background-color: #FFF;
    border: 1px solid #9F9F9F;
    margin: 10px 20px;
}

.task h4 {
    background-color: transparent;
    margin-left: 10px;
    font-size: 18px;
}

.task p {
    font-size: 15px;
    background-color: transparent;
    margin-left: 10px;
    margin-top: 10px;
}

.fa-ellipsis-h {
    display: block;
    text-align: right;
    margin: 10px 12px 0px 12px;
    background-color: transparent;
}

.bottomContent {
    background-color: transparent;
}

#tagBtn {
    font-size: 13px;
    padding: 2px 15px;
    border-radius: 100px;
    background-color: #6E703D;
    color: #FFFCF9;
    border: none;
    margin: 10px;
}

#newStageBtn {
    width: 33%;
    margin: 20px 0;
    padding: 5px 15px;
    border: 1px solid #9F9F9F;
    font-size: 15px;
    border-radius: 5px;
    color: #504f4f;
}


/* ======= Styles for task creation form ======= */
.newTaskFormPopUp {
    display: none;
    position: fixed;
    width: 30%;
    height: 60%;
    top: 100px;
    left: 30%;
    border: 1px solid #27271E;
    border-radius: 10px;
    padding: 30px 50px;
}

#newTaskForm ul li {
    list-style: none;
    padding: 10px 0px;
}

#newTaskForm input,
select {
    display: block;
    border: 1px solid #27271E;
    width: 80%;
    height: 30px;
    border-radius: 5px;
}

#taskDoneBtn {
    margin: 10px 40px;
    padding: 5px 20px;
    border: none;
    background-color: #6E703D;
    color: #FFF;
    border-radius: 100px;
}